body {
  background-image: url(https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  opacity: 0.95;
}

.navBar {
  margin-bottom: 30px;
  /* background-color: #e6e6e6; */
  /* border-bottom-style: 1px solid rgb(202, 202, 202); */
}

.bottomBar {
  background-color: #e6e6e6;
  /* border-top-style: 1px solid rgb(202, 202, 202); */
}

.bottomFont {
  font-size: small;
}

#listItem {
  /* border: 1px solid #e6e6e6; */
  /* border: 1px solid rgb(202, 202, 202); */
  border-radius: 5px;
  margin-top: 5px;
  padding: 5px;
  background-color: #e6e6e6;
}

.roundBorder {
  border-radius: 5px;
  /* border: 1px solid rgb(202, 202, 202); */
}

.noBorder {
  border: transparent;
  background-color: transparent;
}

#redoButton,
#saveButton {
  background-color: #e6e6e6;
}
