body {
  background-image: url(/assets/img/matrixBackground1.jpg);
  opacity: 0.8;
}

.navBar {
  margin-bottom: 30px;
  background-color: rgb(9, 11, 9);
}

.bottomBar {
  background-color: #e6e6e6;
}

.bottomFont {
  font-size: small;
}

#listItem {
  border-radius: 5px;
  margin-top: 5px;
  padding: 5px;
  background-color: #e6e6e6;
}

.roundBorder {
  border-radius: 5px;
}

.noBorder {
  border: transparent;
  background-color: transparent;
}

#redoButton,
#saveButton {
  font-family: "Share Tech Mono", monospace;
  background-color: black;
  color: rgb(50, 179, 116);
  border: 2px solid #e6e6e6;
  font-weight: bold;
}

.fontGoog {
  font-family: "Share Tech Mono", monospace;
}

.headerColor {
  color: rgb(50, 179, 116);
}

#gitHub {
  height: 40px;
  width: 40px;
  text-align: center;
}
.align-justify {
  margin-left: 30px;
}
